@font-face {
  font-family: Inter;
  src: local(Inter) url(fonts/Inter-SemiBold.woff2) format(woff2),
    url(fonts/Inter-SemiBold.woff) format(woff);
  font-weight: 600;
}


@font-face {
  font-family: Inter;
  src: local(Inter) url(fonts/Inter-Bold.woff2) format(woff2),
    url(fonts/Inter-Bold.woff) format(woff);
  font-weight: 700;
}

html {
  position: relative;
  box-sizing: border-box;
}

*, 
*:after, 
*:before {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: #6E6893;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

label {
  display: block;
  height: 60px;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}


.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(190, 190, 190, 0.5);
}